<!DOCTYPE html>
<html>
  <head>
    <title>The Tagline Generator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
    <main class="container mx-auto mt-12 md:mt-16 px-5 grow">
      <%= yield %>
    </main>
    <footer class="text-center md:text-left text-blue-500 md:bg-blue-500 md:text-white mt-16">
      <div class="container mx-auto my-12 px-5">
        <%= link_to 'https://github.com/benj-p/tagline_generator', target: "_blank", class: "hover:drop-shadow-md" do %>
          <i class="fa-brands fa-github text-4xl"></i>
        <% end %>
      </div>
    </footer>
  </body>
</html>
